/* reset code & common code starts  */
* {
  border: none;
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  outline: non;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  --color-primary: #4a148c;
  --color-primary-light: #7c43bd;
  --color-primary-dark: #12005e;
  --color-secondary: #fff;
  --color-secondary-light: #fff;
  --color-secondary-dark: #ccc;
  --color-black: #000;
  --color-warning: orange;
  --transition: all 0.3s ease;
  --container-lg-width: 80%;
  --container-md-width: 92%;
  --container-sm-width: 96%;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1rem;
}

.btn {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.6rem;
  background-color: #1f2641;
  color: var(--color-secondary);
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1.1rem;
  text-transform: uppercase;
}

/* reset code & common code ends  */
.cards {
  background-color: #1f2641;
  padding: 1rem 5rem;
}
section .title {
  text-align: center;
  margin: 2rem 0 3rem;
  color: white;
}
.cards__container {
  width: var(--container-lg-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.card {
  background-color: #424890;
  color: white;
  transition: var(--transition);
  min-height: 25rem;
  border-radius: 2rem;
  padding: 2rem;
}
.card:hover {
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
}
.card__icon {
  margin-top: 1rem;
}
.card__icon i {
  background-color: #4a148c;
  color: var(--color-secondary);
  padding: 1rem;
  border-radius: 50%;
  font-size: 2rem;
}
.card__body {
  margin-top: 1rem;
  overflow: scroll;
}
.card__title {
  margin-bottom: 0.6rem;
}
.card__desc {
  margin: 1rem 0 1rem;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.card:nth-child(1) i {
  background-color: orange;
}
.card:nth-child(2) i {
  background-color: green;
}
.card:nth-child(3) i {
  background-color: purple;
}
.card:nth-child(4) i {
  background-color: violet;
}
.card:nth-child(5) i {
  background-color: peru;
}
.card:nth-child(6) i {
  background-color: orangered;
}

@media screen and (max-width: 768px) {
  .cards__container {
    width: var(--container-md-width);
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .cards__container {
    width: var(--container-sm-width);
    grid-template-columns: auto;
  }
}
