.slideshow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: beige;
}
.slideshow-element {
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.6s;
}
.slideshow-element i,
h2 {
  font-size: 10rem;
  color: coral;
}
.slideshow-element.current {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.6s;
}
