/* reset code starts */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* reset code ends */

h1 {
  text-align: center;
  font-size: 3rem;
}

/* posts starts here  */
.posts {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post {
  width: 23%;
  margin: 0.3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
  transition: all 0.4s;
}

.post:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
/* posts ends here  */

/* responsive parts starts here  */
@media screen and (max-width: 992px) {
  .post {
    width: 48%;
  }
}
@media screen and (max-width: 600px) {
  .post {
    width: 100%;
  }
}
/* responsive parts ends here  */
