h2,
h3 {
  margin: 0;
}

.swiper {
  width: 600px;
  height: 300px;
}
.testimonials {
  padding: 1rem 5rem;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: aliceblue;
}
.testimonials h2 {
  text-align: center;
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}

.testimonial__avatar i {
  font-size: 2.5rem;
  padding: 1rem;
  border-radius: 50%;
  margin: 0 auto 1rem;
  border: 0.5rem solid #000000;
}
.testimonial__info {
  text-align: center;
}
.testimonial__desc {
  padding: 0 2rem;
}
